<!DOCTYPE HTML>
<html>

<head>
	<link rel="bookmark"  type="image/x-icon"  href="<%- theme.head.favicon %>"/>
	<link rel="shortcut icon" href="<%- theme.head.favicon %>">
	<% if(page.layout === 'gallery') { %>
		<%- partial('_partial/gallery_head', {}, {cache: true}) %>
	<% } else { %>
			<%- partial('_partial/head', {}, {cache: true}) %>
			<%- partial('_partial/importJS', {}, {cache: true}) %>
	<% } %>
</head>
    <% if(page.layout === 'gallery') { %>
        <!-- Single Gallery Page -->
        <%- partial('_widget/page-gallery', {}, {cache: true}) %>
        
    <% } else { %>
		<%- body %>
	 <% } %>
	 
	 <!-- 伊布 -->
	 <!-- <div class="eevee">
		<div class="body">
		  <div class="head">
			<div class="ears">
			  <div class="ear">
				<div class="lobe"></div>
			  </div>
			  <div class="ear">
				<div class="lobe"></div>
			  </div>
			</div>
			<div class="face">
			  <div class="eyes">
				<div class="eye">
				  <div class="eyelid"></div>
				</div>
				<div class="eye">
				  <div class="eyelid"></div>
				</div>
			  </div>
			  <div class="nose"></div>
			  <div class="mouth"></div>
			</div>
		  </div>
		  <div class="chest">
			<div class="fur">
			  <div class="patch"></div>
			</div>
			<div class="fur">
			  <div class="patch"></div>
			</div>
			<div class="fur">
			  <div class="patch"></div>
			</div>
		  </div>
		  <div class="legs">
			<div class="leg">
			  <div class="inner-leg"></div>
			</div>
			<div class="leg">
			  <div class="inner-leg"></div>
			</div>
			<div class="leg">
			  <div class="inner-leg"></div>
			</div>
			<div class="leg">
			  <div class="inner-leg"></div>
			</div>
		  </div>
		  <div class="tail">
			<div class="tail">
			  <div class="tail">
				<div class="tail">
				  <div class="tail">
					<div class="tail -end"></div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div> -->
</html>
